html {
    font-size: 62.5%;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    // padding: 50px;
    max-width: 1200px;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

img {
    display: inline-block;
}

li {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.non-bold {
    font-weight: normal;
}