html {
    font-size: 62.5%;       
}

body {
    @include heading(20);    
    background: $background;
    font-family: $fontFamily;
    color: $text;  
    font-weight: 400;
}

p {
    line-height: 32px;
    margin: 0;
    padding: 0;
}

a {
    color: $text;    
    text-decoration: none;   
    padding: 0;     
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;    
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    // padding: 50px;
    max-width: 1100px;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

img {
    display: inline-block;
}

li {
    text-decoration: none;
}

.notBold {
    font-weight: normal;
    color: $background;
}
