html {
<<<<<<< HEAD
    font-size: 62.5%;
=======
    font-size: 62.5%;       
>>>>>>> 8ec7a7cb36774c3f8ee29792996775c4a707c13f
}

body {
    background: $background;
    font-size: ($fontSize / 10) * 1rem;    
    font-family: $fontFamily;
    color: $text;  
    font-weight: 400;
}

p {
    line-height: 32px;
    margin: 0;
    padding: 0;
}

a {
    color: $text;    
    text-decoration: none;   
    padding: 0;     
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;    
}

.wrapper {
<<<<<<< HEAD
=======
    width: 80%;
    margin: 0 auto;
    font-size: 62.5%;
}

.wrapper {
>>>>>>> 8ec7a7cb36774c3f8ee29792996775c4a707c13f
    margin: 0 auto;
    width: 80%;
    // padding: 50px;
    max-width: 1200px;
}
<<<<<<< HEAD
=======

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

img {
    display: inline-block;
}

li {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.non-bold {
    font-weight: normal;
}
>>>>>>> 8ec7a7cb36774c3f8ee29792996775c4a707c13f
