.mainHeader {
    height: 30vh;
    background: $colorSecondary;
    color: $text;

    &__nav {
        height: 100%;
        text-align: center;
        padding-top: 5vh;
        
        &__logo {
            height: 20vh;
            width: 100%;
            float: left;

            &--start {
                @include heading(40);
            }

            &--img {                
                height: 75%;
                padding-right: 1rem;

                 .svg-icon path {
                    fill: $text;
                }
            }

            &--end {
                @include heading(100);
                letter-spacing: 1rem;
            }
        }
    }
}