.mainHeader {
    height: 30vh;
    background: navajowhite;

    &__nav {
        height: 100%;
        text-align: center;
        padding-top: 5vh;


        &__profile {
            float: left;
            width: 20%;
        }

        &__logo {
            height: 20vh;
            width: 60%;
            float: left;

            &--start {
                font-size: 4rem;
            }

            &--img {                
                height: 75%;
                padding-right: 1rem;
            }

            &--end {
                font-size: 10rem;
                letter-spacing: 1rem;
            }
        }

        &__trips {
            width: 20%;
            float: right;

            &__item {
                cursor: pointer;
            }
        }
    }
}