@import "partials/variablesAndMixins";
@import "partials/setup";
@import "partials/global";
@import "partials/header";
@import "partials/landingPage";
@import "partials/tripDetails";
@import "partials/mediaQueries";